<div class="container-form-image">
    <!-- Formulario -->
    <form>
        <h1>Iniciar Sesión</h1>
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Usuario   </label>
        <br>
        <input type="email" id="form2Example1" class="form-control" />
      </div>

      <br>
      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Contraseña </label>
        <br />
        <input type="password" id="form2Example2" class="form-control" />
      </div>
      
      <br>
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Recuerdame </label>
          </div>
        </div>
  
        <div class="col">
          <!-- Simple link -->
          <a href="#!">Olvidaste la contraseña?</a>
        </div>
      </div>
  
      <br>
      <!-- Submit button -->
      <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Iniciar</button>
  
      <!-- Register buttons -->
      <div class="text-center">
        <p>No tienes cuenta? <a href="/mi-cuenta/registro">Registrarse</a></p>
      </div>
    </form>
  
    <!-- Imagen al lado del formulario -->
    <div class="image-container">
      <img src="assets/Clinica.jpg" alt="Imagen descriptiva" />
    </div>
  </div>
  