form {
  background-color: #fafafa; 
  border-radius: 10px;
  padding: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 500px; 
  text-align: center;
}

.container-form-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; 
  margin: 20px;
}

.form-control {
  border: 2px solid #80c783;
  border-radius: 5px;
  background-color: #dcf5d6; 
  font-size: 1.2rem; 
  padding: 15px; 
}

.form-control:focus {
  border-color: #42ab49; 
  box-shadow: 0 0 5px rgba(66, 171, 73, 0.5); 
}


.form-label {
  color: #000000; 
  font-weight: 600;
  font-size: 1.1rem; 
}

.row.mb-4 {
  display: flex;
  justify-content: space-evenly;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-check-input {
  background-color: #bddeb3; 
}

.form-check-label {
  color: #000000; 
}

a {
  color: #42ab49; 
}

a:hover {
  color: #80c783; 
}

.btn-primary {
  background-color: #42ab49;
  border: none;
  color: #fafafa;
  border-radius: 5px;
  padding: 15px 30px; 
  font-weight: 600;
  font-size: 1.1rem; 
}

.btn-primary:hover {
  background-color: #80c783; 
}


.text-center p {
  color: #000000;
  font-weight: 500;
}


.text-center a {
  color: #42ab49; 
}

.text-center a:hover {
  color: #80c783; 
}

.image-container {
  width: 1000px; 
  height: auto;
  display: flex;
  justify-content: center;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}
