  .navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #42ab49; 
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 1.2rem; 

  }


  .navbar-link {
    color: #fff; 
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background-color 0.3s ease; 
  }

  .navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 4px;
  }
 
  .mockup-section {
    background-color: #F5F5F5; 
    padding: 2rem;
    text-align: center;
  }
  
  .mockup-section h2 {
    color: #42ab49; 
    margin-bottom: 1rem;
  }
  
  h3 {
    color: #42ab49;
    margin-bottom: 1rem;
  }
  .mockup-section p {
    color: #333333;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  
  .mockup-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .mockup-images img {
    width: 200px; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .features-list, .benefits-list {
    list-style-type: disc;
    margin-left: 2rem;
    color: #333;
  }
  
  .testimonials {
    margin: 2rem 0;
    background-color: #f9f9f9; 
    padding: 1rem;
    border-radius: 8px;
  }
  
  .testimonials blockquote {
    border-left: 4px solid #04b189;
    margin: 1rem 0;
    padding-left: 1rem;
    font-style: italic;
  }
  

  .cta-button {
    display: inline-block;
    background-color: #04b189; 
    color: #FFFFFF; 
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  
  /* Footer */
  footer {
    background-color: #42ab49; 
    color: #FFFFFF;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.2rem; 
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .footer-logo img {
    width: 80px;
  }
  
  .footer-links {
    display: flex;
    gap: 2rem;
  }
  
  .footer-links a {
    color: #FFFFFF; 
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: #DD9149; 
  }
  
  
  .cta-button:hover {
    background-color: #009975; 
  }
  
  /* Estados */
  .success {
    color: #28A745; 
  }
  
  .error {
    color: #DC3545;
  }
  
  .warning {
    color: #FFC107; 
  }
  
  .info {
    color: #17A2B8; 
  }
  