<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="navbar">
  <div class="footer-logo">
    <img src="assets/logo.jpeg" alt="Clinica Logo">
  </div>
  <a href="#" class="navbar-link">Inicio</a>
  <a href="/historico" class="navbar-link">Historial</a>
  <a href="/nosotros" class="navbar-link">Nosotros</a>
  <a href="/mi-cuenta" class="navbar-link">Mi cuenta</a>

</nav>

<router-outlet />

<!-- Footer -->
<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img src="assets/logo.jpeg" alt="Clinica Logo">
    </div>
    
    <div class="footer-links">
      <a href="#">Política de privacidad</a>
      <a href="#">Términos del servicio</a>
      <a href="/contactenos">Contacto</a>
    </div>
  </div>
</footer>