<div class="container-form-image">
    <!-- Formulario de registro -->
    <form>
      <h1>Registrarse</h1>
  
      <!-- Nombre completo -->
      <div class="form-outline mb-4">
        <label class="form-label" for="formFullName">Nombre Completo</label>
        <input type="text" id="formFullName" class="form-control" />
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="formEmail">Correo Electrónico</label>
        <input type="email" id="formEmail" class="form-control" />
      </div>
  
      <!-- Número de teléfono -->
      <div class="form-outline mb-4">
        <label class="form-label" for="formPhone">Número de Teléfono</label>
        <input type="tel" id="formPhone" class="form-control" />
      </div>
  
      <!-- Contraseña -->
      <div class="form-outline mb-4">
        <label class="form-label" for="formPassword">Contraseña</label>
        <input type="password" id="formPassword" class="form-control" />
      </div>
  
      <!-- Confirmar contraseña -->
      <div class="form-outline mb-4">
        <label class="form-label" for="formConfirmPassword">Confirmar Contraseña</label>
        <input type="password" id="formConfirmPassword" class="form-control" />
      </div>
  
      <!-- Usuario -->
      <div class="form-outline mb-4">
        <label class="form-label" for="formAddress">Usuario</label>
        <input type="text" id="formAddress" class="form-control" />
      </div>

       <!-- Nombre del animal -->
       <div class="form-outline mb-4">
        <label class="form-label" for="formConfirmPassword">Nombre de la mascota</label>
        <input type="password" id="formConfirmPassword" class="form-control" />
      </div>

       <!-- Raza-->
       <div class="form-outline mb-4">
        <label class="form-label" for="formConfirmPassword">Raza de la mascota</label>
        <input type="password" id="formConfirmPassword" class="form-control" />
      </div>
  
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox de términos y condiciones -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="formTerms" />
            <label class="form-check-label" for="formTerms">Acepto los términos y condiciones</label>
          </div>
        </div>
  
        <div class="col">
          <!-- Enlace de inicio de sesión -->
          <a href="#!">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
      </div>
  
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Registrarse</button>
    </form>
  
    <!-- Imagen al lado del formulario -->
    <div class="image-container">
      <img src="assets/Clinica.jpg" alt="Imagen descriptiva" />
    </div>
  </div>
  