  <!-- Sección de mockup -->
  <section class="mockup-section">
    <h2>Función de la Clínica Veterinaria</h2>
    <div class="mockup-content">
      <div class="mockup-text">
        <p>Atención Médica de Animales: Proporcionar diagnóstico, tratamiento y prevención de enfermedades en animales domésticos, exóticos y de granja.</p>
        <p>Cirugías: Realizar procedimientos quirúrgicos necesarios para tratar lesiones, enfermedades o condiciones congénitas en los animales.</p> 
        <p>Cuidados Preventivos: Administrar vacunas y realizar chequeos regulares para prevenir enfermedades.</p> 
        <p>Urgencias Veterinarias: Ofrecer atención médica de emergencia para animales que sufren lesiones graves o condiciones críticas.</p>
        <p>Diagnóstico: Utilizar herramientas y técnicas como análisis de laboratorio, radiografías y ultrasonidos para diagnosticar condiciones de salud.</p>
        <p>Asesoramiento: Proporcionar información y asesoramiento a los dueños sobre la alimentación, el cuidado y la salud de sus mascotas.</p>
        <p>Educación: Educar a los propietarios sobre la importancia de la atención veterinaria regular y el cuidado responsable de los animales.</p>
        <p>Control de Plagas y Parásitos: Diagnosticar y tratar infestaciones de parásitos internos y externos en mascotas.</p>
      </div>
      <div class="mockup-images">
        <img src="assets/Clinica.jpg">
      </div>
    </div>
    
    <h3>Lo Que Dicen Nuestros Clientes</h3>
    <div class="testimonials">
      <blockquote>
        <p>"Gracias a la clínica mi perro se encuentra mucho mejor, excelente atención"</p>
        <footer>- Juan Pérez, CEO de Empresa XYZ</footer>
      </blockquote>
      
      <blockquote>
        <p>"Gran clínica 100% recomendada"</p>
        <footer>- Ana Gómez, Gerente de Proyectos en ABC Corp.</footer>
      </blockquote>
    </div>
  </section>
