.container {
    background-color: var(--primary-color);
    color: var(--neutral-white);
    padding: 20px;
    border-radius: 8px;
  }



.mockup-section {
  background-color: #F5F5F5;
  padding: 2rem;
  text-align: center;
}

.mockup-section h2 {
  color: #42ab49; 
  margin-bottom: 2rem;
}

h3 {
  color: #42ab49;
  margin-bottom: 2rem;
}
.mockup-section p {
  color: #333333; 
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.mockup-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.mockup-images img {
  width: 800px; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.features-list, .benefits-list {
  list-style-type: disc;
  margin-left: 2rem;
  color: #333;
}

.testimonials {
  margin: 2rem 0;
  background-color: #f9f9f9; 
  padding: 1rem;
  border-radius: 8px; 
}

.testimonials blockquote {
  border-left: 4px solid #04b189; 
  margin: 1rem 0;
  padding-left: 1rem;
  font-style: italic;
}

.cta-button {
  display: inline-block;
  background-color: #04b189; 
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #009975; 
}

/* Estados */
.success {
  color: #28A745; /* Éxito */
}

.error {
  color: #DC3545; /* Error */
}

.warning {
  color: #FFC107; /* Advertencia */
}

.info {
  color: #17A2B8; /* Información */
}

  