<div class="container-form-image">
    <div class="form-container">
      <form class="datos-animal-form">
        <h2>Datos de la Mascota</h2>
  
        <div class="form-group">
          <label class="form-label" for="nombre-animal">Nombre:</label>
          <input type="text" id="nombre-animal" class="form-control" placeholder="Nombre de la mascota">
        </div>
  
        <div class="form-group">
          <label class="form-label" for="especie-animal">Especie:</label>
          <input type="text" id="especie-animal" class="form-control" placeholder="Especie (ej. Perro, Gato)">
        </div>
  
        <div class="form-group">
          <label class="form-label" for="raza-animal">Raza:</label>
          <input type="text" id="raza-animal" class="form-control" placeholder="Raza de la mascota">
        </div>
  
        <div class="form-group">
          <label class="form-label" for="edad-animal">Edad:</label>
          <input type="number" id="edad-animal" class="form-control" placeholder="Edad en años">
        </div>
  
        <div class="form-group">
          <label class="form-label" for="sexo-animal">Sexo:</label>
          <select id="sexo-animal" class="form-control">
            <option value="macho">Macho</option>
            <option value="hembra">Hembra</option>
          </select>
        </div>
  
        <button type="submit" class="btn btn-primary">Guardar Datos</button>
        <br>
  
        <!-- Botón de Volver -->
        <a href="historico" class="btn btn-volver">Volver</a>
      </form>
    </div>
  
    <div class="image-container">
      <img src="assets/datosMascota.jpeg" alt="Imagen de la Mascota" class="form-image">
    </div>
  </div>
  