<div class="nosotros-container">
    <header class="hero-section">
      <h1>Conócenos</h1>
      <p>En Pet Life , cuidamos de tus mascotas como parte de nuestra familia.</p>
    </header>
  
    <section class="about-section">
      <h2>Nuestra Misión</h2>
      <p>
        Nuestra misión es proporcionar atención veterinaria de la más alta calidad, enfocándonos en el bienestar físico y emocional de los animales a través de un servicio compasivo, ético y profesional.
        Nos comprometemos a ofrecer un cuidado integral que abarca prevención, diagnóstico, tratamiento y rehabilitación, asegurando siempre la salud y felicidad de nuestras mascotas y animales en general. 
        Además, trabajamos de la mano con sus propietarios, educándolos en las mejores prácticas de cuidado y garantizando que cada visita a nuestra clínica sea una experiencia positiva y reconfortante. 
        Con un equipo altamente capacitado y con tecnología de vanguardia, buscamos ser una referencia de confianza para toda la comunidad.
      </p>
    </section>
  
    <section class="vision-section">
      <h2>Nuestra Visión</h2>
      <p>
        Ser reconocidos como una clínica veterinaria líder en la región, donde la excelencia en la atención animal se combine con el respeto y la empatía hacia los seres vivos que atendemos.
        Nuestro objetivo es seguir creciendo como un centro de salud veterinaria innovador, siempre a la vanguardia de los avances científicos y tecnológicos, para ofrecer soluciones eficaces y accesibles a nuestros clientes. 
        En el futuro, buscamos expandir nuestros servicios para incluir nuevas especialidades médicas, promover programas educativos de prevención y ser un pilar fundamental en la mejora de la calidad de vida de los animales y de la relación humano-animal en nuestra comunidad.
      </p>
    </section>
  
    <section class="team-section">
      <h2>Conoce a Nuestro Equipo</h2>
      <div class="team-grid">
        <div class="team-member">
          <img src="assets/Doctor1.jpeg" alt="Dr. Carlos Martínez">
          <h3>Dr. Carlos Martínez</h3>
          <p>Especialista en cuidados intensivos y emergencias.</p>
        </div>
        <div class="team-member">
          <img src="assets/Doctora1.jpg" alt="Dra. Ana Gómez">
          <h3>Dra. Ana Gómez</h3>
          <p>Veterinaria especializada en animales exóticos.</p>
        </div>
        <div class="team-member">
          <img src="assets/Doctor2.jpeg" alt="Dr. Luis Pérez">
          <h3>Dr. Luis Pérez</h3>
          <p>Especialista en cirugía y ortopedia.</p>
        </div>
      </div>
    </section>
  </div>
  
