<div class="container-form-image">
  <div class="form-container">
    <form class="citas-form">
      <h2>Crear Cita</h2>

      <div class="form-group">
        <label class="form-label" for="fecha-cita">Fecha de Cita:</label>
        <input type="date" id="fecha-cita" class="form-control">
      </div>

      <div class="form-group">
        <label class="form-label" for="hora-cita">Hora de Cita:</label>
        <input type="time" id="hora-cita" class="form-control">
      </div>

      <div class="form-group">
        <label class="form-label" for="motivo-cita">Motivo de la Cita:</label>
        <input type="text" id="motivo-cita" class="form-control" placeholder="Motivo de la cita (vacunación, revisión, etc.)">
      </div>

      <button type="submit" class="btn btn-primary">Guardar Cita</button>
      <br>
      <!-- Botón de Volver -->
      <a href="historico" class="btn btn-volver">Volver</a>
    </form>
  </div>

  <div class="image-container">
    <img src="assets/citas.jpeg" alt="Imagen de Cita" class="form-image">
  </div>
</div>
